In [1]:
import pandas as pd
import numpy as np

In [3]:
adult = pd.read_csv("adult.data.csv")

In [1]:
ls

Untitled.ipynb     adult 12_22.ipynb  adult.data.csv

In [38]:
adult.dtypes

age                int64
job type          object
id                 int64
degree            object
yrs employed       int64
married status    object
spouse job        object
fam stat          object
race              object
gender            object
col1               int64
col2               int64
col3               int64
country           object
sal range         object
dtype: object

In [22]:
### NUMBER OF ROWS AND COLUMNS

In [7]:
adult.shape
# result shows 32561 rows and 15 columns

(32561, 15)

In [37]:
print(adult.shape)

(32561, 15)

In [21]:
### NUMBER OF MALES AND FEMALES

In [9]:
#print(adult["gender"].value_counts())
adult["gender"].value_counts()
# results show 21,790 males and 10,771 females

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [15]:
df_adult = adult.explode("gender")

In [20]:
df_adult["gender"].value_counts('male')

 Male      0.669205
 Female    0.330795
Name: gender, dtype: float64

In [24]:
adult.head(2)

,age,job type,id,degree,yrs employed,married status,spouse job,fam stat,race,gender,col1,col2,col3,country,sal range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [33]:
adult["degree"].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: degree, dtype: int64

In [35]:
adult["married status"].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: married status, dtype: int64

In [31]:
adult["fam stat"].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: fam stat, dtype: int64

In [32]:
adult["race"].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [30]:
df_adult["spouse job"].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: spouse job, dtype: int64